<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

    <h2>Users</h2>

    <table id="usersTable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                {% if session.role == 'ADMIN' %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    {% if session.role == 'ADMIN' %}
                        <td class="actions">
                           <a href="javascript:void(0)" class="delete" onclick="confirmDelete('{{ user.username }}')">Delete</a>
                           <a href="javascript:void(0)" class="update" onclick="updateUser('{{ user.username }}')">Update</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!--<a href="/create_user">Create User</a>-->
    <a href="javascript:void(0)" onclick="loadContent('/create_user')">Create User</a>

    <script>
        $(document).ready(function() {
            $('#usersTable').DataTable();
        });

        function confirmDelete(username) {
            if (username === '{{ session.username }}') {
                alert('You cannot delete your own user account.');
            } else {
                if (confirm(`Are you sure you want to delete ${username}?`)) {
                    // Make an AJAX request to delete the record from the database
                    $.ajax({
                        url: `/delete_user/${username}`,
                        type: 'DELETE',
                        success: function(response) {
                            alert(`User ${username} deleted successfully!`);
                            loadContent('/users');
                        },
                        error: function(error) {
                            alert(`Error deleting user ${username}: ${error}`);
                        }
                    });
                }
            }
        }

        function updateUser(username) {
           $.ajax({
           url: `/update_user/${username}`,
           type: 'GET',
           success: function(response) {
               $('#content').html(response);}
           });
        }

    </script>
</body>
</html>
